@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Edu+NSW+ACT+Foundation:wght@500;700&family=Nunito:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');


.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.cabecalho{
	display: flex;
	flex-direction: column;
	margin: 1rem;
	align-items: center;
	
}
.cabecalho__titulo{
	font-size: 40px;
	font-weight: 500;
	padding-bottom: 16px;
	

}

.cabecalho__paragrafo{
	font-size: 24px;
}
.cartao{
	display: flex;
	align-items: center;
	background-color: #cdb7a9;
	border:1px solid #002B5B ;
	border-radius: 2px;
}
.principal{
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	justify-content: center;
}
.principal__img{
	border-right: 0.5px solid #002B5B;
	width: auto;
	height: 270px;
}
.principal__texto{
	text-align:start;
	font-weight: 600;
	width: 300px;
	padding: 1rem;
	font-size: 24px;

}

.campo__nome{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	border: none;
}
.campo__nome input, button{
	background: #e9d8be;
	border: none;
	padding: 12px;
	border-radius: 2px;
	font-size: 28px;
}

input::placeholder{
	color: #002B5B	;
	opacity: 0.6;
}

.campo__nome button{
	border-left: none;
	background-color: #002B5B;
	color: white	;
	transition: 500ms;
}
.campo__nome button:hover{
	background-color: #023979;
	cursor: pointer;
}

body{
	color:#002B5B;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;  
	height: 100vh;
	background-image: linear-gradient(#F9F5EB,#e9d8be);
	background-repeat: no-repeat;
}
.nome__container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	h2{
		font-size: 32px;
	}
	font-size: 20px;
}
.nome{
	text-align: center;
	margin-top: 24px;
	font-size: 24px;
}


